body{
	margin:0px;
}

#zone{
	position: relative;
	width:100vw; 
	background-color:white; 
	overflow:hidden;
}

.sky{
	pointer-events: none;
	position:absolute;
    top:0px;
    left:-200%;
    z-index:1;

	background-image:url('http://i.imgur.com/QXnJ37t.png');
	background-size:50%;
	background-repeat: repeat-x;

	animation-name: movingSky;
  	animation-timing-function: linear;
  	animation-duration: 50000ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes movingSky{
	0% { left:-200%; }
	100%{ left:0%; }
}


.mountain{
	pointer-events: none;
	position:absolute;
    top:0px;
    left:-200%;
    z-index:1;

	background-image:url('http://i.imgur.com/YYxp4lg.png');
	background-size: 50%;
	background-repeat: repeat-x;

	animation-name: movingMountain;
  	animation-timing-function: linear;
  	animation-duration: 40000ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes movingMountain{
	0% { left:-200%; }
	100%{ left:0%; }
}

.flow{
	pointer-events: none;
	position:absolute;
    top:0px;
    left:-200%;
    z-index:4;

	background-image:url('http://i.imgur.com/QtSvTdx.png');
	background-size:50%;
	background-repeat: repeat-x;

	animation-name: movingFlow;
  	animation-timing-function: linear;
  	animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes movingFlow{
	0% { left:-200%; }
	100%{ left:0%; }
}

.land{
	pointer-events: none;
	position:absolute;
    top:0px;
    left:-200%;
    z-index:7;

	background-image:url('http://i.imgur.com/GQ7e6ZF.png');
	background-size:50%;
	background-repeat: repeat-x;

	animation-name: movingLand;
  	animation-timing-function: linear;
  	animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes movingLand{
	0% { left:-200%; }
	100%{ left:0%; }
}

.whale{
	position:absolute;
    top:55%; /* html .whale style */
    left:60%;
    z-index:5;

	background-image:url('http://i.imgur.com/qkctcqU.png');
	background-size:100%;
	background-repeat: no-repeat;
	width:25%;
	height:20%;

}
.waterColumn{
	pointer-events: none;
	position:absolute;
    top:45%;
    left:62%;
    z-index:5;

	background-image:url('http://i.imgur.com/8I3egC5.png');
	background-size:100%;
	background-repeat: no-repeat;
	width:10%;
	height:32.3%;

	transform: scale(1, 1);
}
.boat{
	position:absolute;
    top:30%;
    left:30%;
    z-index:6;

	background-image:url('http://i.imgur.com/6kLReKO.png');
	background-size:100%;
	background-repeat: no-repeat;
	width:30%;
	height:50%;
}
.boatLight{
	position:absolute;
    top:30%;
    left:30%;
    z-index:5;

	background-image:url('http://i.imgur.com/VUy6K5Y.png');
	background-size:100%;
	background-repeat: no-repeat;
	width:30%;
	height:50%;

	animation-name: boatLighting;
  	animation-timing-function: linear;
  	animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes boatLighting{
	0% { opacity: 0; }
	100%{ opacity: 0.7; }
}

.heart0{
	position:absolute;
    z-index:5;

    background-image:url('http://i.imgur.com/vGp6Eid.png');
	background-size:100%;
	background-repeat: no-repeat;
	width:5%;
	height:100%;

	/*
	animation-name: heartMoving;
  	animation-timing-function: linear;
  	animation-duration: 5000ms;
    animation-iteration-count: finite;
    animation-direction: normal;
    */
}
@keyframes heartMoving{
	0% { left: 0%; }
	100%{ left: 100%; }
}

.heart1{
	position:absolute;
    z-index:5;

    background-image:url('http://i.imgur.com/dJ5TsV7.png');
	background-size:100%;
	background-repeat: no-repeat;
	width:5%;
	height:100%;

	/*
	animation-name: heartMoving;
  	animation-timing-function: linear;
  	animation-duration: 5000ms;
    animation-iteration-count: finite;
    animation-direction: normal;
    */
}